<p style="color: green"><%= notice %></p>

<h1>Works</h1>
<h2>Todo application for you</h2>
<img src="http://carfinderr.com/viewfile.php?file=984-c2f792ce80c44488bfbc4123c8c20a85.jpg">

<div id="works">
  <% @works.each do |work| %>
    <%= render work %>
    <p>
      <%= link_to "Show this work", work %>
    </p>
  <% end %>
</div>

<%= link_to "New work", new_work_path %>
